@import 'reset';
@import 'fonts';
//header part
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: white;
    background-color: black;
    padding: 20px;
    .headerLogo{
        grid-column: 2;
        display: flex;
        justify-content: center;
        img{
            width: 120px;
            height: 120px;
        }
    }
    .headerList{
        grid-column: 3;
        align-self: end;
        justify-content: center;
        display: flex;
        a{
            text-decoration: none;
            color: white;
            font-family: 'Open Sans';
            font-weight: 600;
            font-style: normal;
            font-size: 15px;
        }
        li{
            display: inline-flex;
            margin: 5px;
            :hover{
                color: #E48E26;
            }
        }
    }
}
//Beer Display part
.grid-container{
    margin: 1rem auto;
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 13px;
}
.grid-beer{
     background-color: #F4F4F4;
     height: 45vw;
     display: flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
     align-items: center;
     text-align: center;
     img{
         width: 50px;
         height: 200px; 
         padding: 10px;
     }
     .name{
        font-family: 'Open Sans';
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        padding: 10px;
     }
     .description{
         font-size: 12px;
         font-family: 'Open Sans';
        font-weight: 400;
        font-style: normal;
        padding: 20px;
     }
     .value{
         display: inline-flex;
         font-family: 'Playfair Display';
        font-weight: normal;
        font-style: normal;
        .abv{margin: 10px;}
        .ibu{margin: 10px;}
        .ph{margin: 10px;}
     }
}
//footer part
footer{
    margin : 2rem;
    display: flex;
    justify-content: center;
}
.pagination{
    display: inline-block;
        a{
            text-decoration: none;
            color: black;
            font-family: 'Open Sans';
            font-weight: 600;
            font-style: normal;
            padding: 8px 16px;
        }
        a:hover:not(.active){
            background-color: #047CBB;
            color: white;
            padding : 10px 16px;
        }
    }

