@import 'reset';
@import 'fonts';
@import 'variables';
//header part
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: white;
    background-color: black;
    padding: 20px;
    .headerLogo{
        grid-column: 2;
        display: flex;
        justify-content: center;
        img{
            width: 120px;
            height: 120px;
        }
        img:hover{cursor: pointer;}
    }
    .headerList{
        grid-column: 3;
        align-self: end;
        justify-content: center;
        display: flex;
        a{
            text-decoration: none;
            color: white;
            @include font;
            font-weight: 600;
            font-size: 15px;
        }
        li{
            display: inline-flex;
            margin: 5px;
            :hover{
                color: $blue;
            }
        }
        .active-list{color: $blue;}
    }
}

//Beer Display part
.grid-container{
    margin: 1rem auto;
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 13px;
}
.grid-beer{
     background-color: #F4F4F4;
     height: 45vw;
     display: flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
     align-items: center;
     text-align: center;
     img{
         width: auto;
         height: 200px; 
         padding: 10px;
     }
     .name{
        @include font;
        font-weight: 600;
        font-size: 16px;
        padding: 10px;
     }
     .description{
        font-size: 12px;
        @include font;
        font-weight: 400;
        padding: 20px;
        line-height: 15px;
        overflow: scroll;
        height: 15%;
     }
     .value{
         display: inline-flex;
         font-family: 'Playfair Display';
        font-weight: normal;
        font-style: normal;
        .abv{
            margin-top: 27px;
            margin-right: 20px;
        }
        .ibu{margin-top: 27px;
            margin-left: 20px;}
        .ph{
            margin-top: 20px;
            margin-left: 28px;
            padding: 8px 14px;
            color: white;
        }
     }
}
//Quick find part
.article-container{
    background-color: #F4F4F4;
     height: 35vw;
     margin: 30px;
     display: inline-flex;
     justify-content: center;
     align-content: center;
     flex-direction: row;
     align-items: center;
     text-align: center;
     img{
        width: auto;
        height: 280px; 
        padding: 60px;
    }
     .random-beer-data{
         width : 35%;
     .name{
        @include font;
        font-weight: 600;
        font-size: 18px;
        padding: 10px;
     }
     .tagline{
        @include font;
        font-weight: 600;
        font-size: 16px;
        color : $blue;
     }
     .description{
        font-size: 13px;
        @include font;
        font-weight: 400;
        padding: 20px;
        line-height: 20px;
     }
     .value{
         display: inline-flex;
         font-family: 'Playfair Display';
        font-weight: normal;
        font-style: normal;
        .abv{
            margin-top: 27px;
            margin-right: 20px;
        }
        .ibu{margin-top: 27px;
            margin-left: 20px;}
        .ph{
            margin-top: 20px;
            margin-left: 28px;
            padding: 8px 14px;
            color: white;
        }
     }
     #button-ingredients{
        margin-top: 20px;
     }
     .ingredients{
         background-color: $blue;
         padding: 10px 13px;
         color: white;
         border:none;
         @include font;
         font-weight: 600;
         font-size: 12px;
     }
     button:hover{
         background-color : #0C6CD4;
     }
     .ingredients:hover{cursor: pointer;}
    }
}
#random{
    background-color: rgb(248, 183, 4);
    border: none;
    margin-left: 517px;
    margin-bottom: 10px;
    margin-top: -30px;
    width: 230px;
    height: 80px;
    padding: 2% 4%;
    @include font;
    font-weight: 600;
    font-size: 12px;
    color: white;
}
#random:hover{
    background-color : #E48E26;
    cursor: pointer;
}
.global{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
//Pick a beer page
.pick-a-beer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #F4F4F4;
    width : 50%;
    margin : auto;
    margin-top: 80px;
    @include font;
    font-weight: 300;
    overflow: hidden;
    .form-pick-a-beer{
        height: 70px;
    }
    #text-pick{
        grid-column: 1;
        grid-row : 1;
        color : $blue;
        font-weight: 600;
        align-self: center;
        justify-self: center;
    }
    .name-pick{
        grid-column-start: 1;
        grid-column-end : 3;
        grid-row : 2;
        justify-self: start;
        margin-left: 35px;
        input{
            height: 30px;
            width: 180px;
            margin-left: 10px;
        }
    }
    .hops-pick{
        grid-column-start: 2;
        grid-column-end : 4;
        grid-row : 2;
        margin-left: 110px;
        justify-self: center;
        input{
            height: 30px;
            width: 180px;
            margin-left: 10px;
        }
    }
    .abv-pick{
        grid-column-start: 1;
        grid-column-end : 2;
        grid-row : 3;
        justify-self: center;
        input{
            height: 30px;
            width: 90px;
            margin-left: 10px;
        }
    }
    .ibu-pick{
        grid-column-start: 2;
        grid-column-end : 3;
        grid-row : 3;
        justify-self: center;
        input{
            height: 30px;
            width: 90px;
            margin-left: 10px;
        }
    }
    .ebc-pick{
        grid-column-start: 3;
        grid-column-end : 4;
        grid-row : 3;
        justify-self: center;
        input{
            height: 30px;
            width: 90px;
            margin-left: 10px;
        }
    }
    .button-pick-a-beer{
        grid-column-start: 3;
        grid-column-end : 4;
        grid-row : 4;
        justify-self: center;
       
    button{
        background-color: $blue;
         padding: 10px 13px;
         color: white;
         border:none;
         @include font;
         font-weight: 600;
         font-size: 12px;
        }
    }
}

//Ingredient Box Part
html body{position: relative;
    margin: 0;
    min-height: 100%;}
#div-box{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#box{
    display: flex;
    flex-direction: column;
    @include font;
    font-weight: 300;
    width: 45%;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: -1px 1px 13px -1px rgba(0,0,0,0.91); 
    box-shadow: -1px 1px 13px -1px rgba(0,0,0,0.91);
    #box-title{
        padding: 20px;
        display: inline-flex;
        background-color:$blue;
        color: white;
        justify-content: space-between;
        align-content: center;
    }
    label{
        margin-top: 3px;
        font-weight: 600;
      }
    .box-title-ingredient{
        margin-top: 20px;
        padding-left: 33px;
        padding-right: 25px;
        h2{font-weight: 600;}
        font-size: 13px;
    }
    #close-button{
        background-color: $blue;
        border: none;
        color: white;
        font-weight: 600;
        font-size: 16px;
    }
    #space{
        margin-bottom : 20px;
        margin-top : 20px;
    }
    #close-button:hover{cursor: pointer;}
}
//footer part
footer{
    margin : 2rem;
    display: flex;
    justify-content: center;
}
.pagination{
    display: inline-block;
        a{
            text-decoration: none;
            color: black;
            @include font;
            font-weight: 600;
            padding: 8px 16px;
        }
        a:hover{
            background-color: $blue;
            color: white;
            padding : 10px 16px;
        }
    .active{
        background-color: $blue;
            color: white;
            padding : 10px 16px;
    }
    }
